[mysqld]
character_set_server=utf8mb4
init_connect='SET NAMES utf8'

plugin-load-add=connection_control.so
connection-control=FORCE_PLUS_PERMANENT
connection-control-failed-login-attempts=FORCE_PLUS_PERMANENT
connection_control_failed_connections_threshold=3
connection_control_max_connection_delay=2147483647
connection_control_min_connection_delay=1800000

general_log=ON
slow_query_log=ON
log_bin=mysql-bin
log-error=/var/log/mysql.err
server-id=20200521

wait_timeout = 600
interactive_timeout = 600